@forward "abstracts/global";

header {
  color: #fff;

  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000000f4;

  > div {
    width: 85%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
      gap: 1rem;
    }
  }

  z-index: 2;
}

section {
  margin: 50px auto;
  width: 85%;
}

.welcome {
  margin-top: 0;
  width: 100%;
  height: 100svh;

  background-image: url("../img/hero-bg.jpg");
  background-attachment: fixed;
  background-size: cover;

  position: relative;

  &::before {
    background-color: #000000a6;
    position: absolute;
    inset: 0 0 0 0;
    content: "";
  }
}

.welcome-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  inset: 0 0 0 0;

  .section-title {
    color: #fff;
    padding: 0.2rem 2rem;
    line-height: 0rem;
    background-color: #ffffff21;
    border-radius: 10rem;
    box-sizing: content-box;
  }

  .section-header > span {
    font-weight: bold;
  }

  :nth-child(2) h1 {
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 5px;
  }

  :nth-child(3) {
    font-size: 25px;
    font-weight: light;
    margin-bottom: 25px;
  }

  .get-started-btn {
    font-weight: normal;
    color: #fff;
    background: none;
    padding: 0.5rem 2rem;
    border: 2px solid;
    border-radius: 50px;
  }
}

.section-title {
  display: inline-block;
  font-weight: bold;
  color: #e43c5c;
  background-color: #fdeff2;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  letter-spacing: 1px;
}

.about,
.services,
.portfolio,
.pricing,
.faq,
.team,
.contact{
  text-align: center;

  .section-header,
  .section-header span {
    font-size: 30px;
    font-weight: bold;
  }
  .section-header span {
    color: #e43c5c;
  }
}

.about-desc,
.services-desc,
.portfolio-desc,
.pricing-desc,
.team-desc,
.contact-desc{
  font-weight: 600;
  margin: 25px auto;
  width: 70ch;
}

.about-us-container {
  padding: 25px;
  font-size: large;
  div {
    width: 50%;
    float: left;
    text-align: left;
  }

  p,
  ul,
  li {
    font-weight: normal;
  }

  button {
    color: #e43c5c;
    background-color: #fff;

    font-size: 15px;
    padding: 0.5rem 2rem;
    border: solid #e43c5c 2px;
    border-radius: 50px;

    transition: all 0.25s;
  }

  button:hover {
    color: #fff;
    background-color: #e43c5c;
  }
}

.services-container {
  margin-top: 25px;
  a {
    color: #000;
  }
  .card {
    float: left;
    width: 25%;

    .inner-card {
      box-shadow: #c4c4c4 1px 1px 10px;
      margin: 5px;
      padding: 30px;
      border-radius: 15px;
      transition: ease-in-out 0.25s;
    }

    .inner-card:hover {
      a,
      p {
        color: #fff;
      }
      background-color: #e43c5c;
    }

    a {
      font-weight: bolder;
    }

    p {
      color: #5e5e5e;
      margin: auto;
      width: 25ch;
    }
  }
}

.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a {
    color: #000;
  }

  > .outer {
    width: 25%;
    .inner {
      border-radius: 5px;
      margin: 10px;
      padding: 0.8rem;
      box-shadow: #c4c4c4 1px 1px 10px;
    }
  }
}

.call-to-action {
  
  width: 100%;
  padding: 60px 0;
  background:  linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cta-bg.jpg");
  background-attachment: fixed;
  background-size: cover;

}

//container
.call-to-action-cont{
  color: #fff;
  text-align: center;

  h2{
    font-weight: bold;
    font-size: 30px;
  }

  .call-to-action-btn{
    font-weight: normal;
    color: #fff;
    background: none;
    padding: 0.5rem 2rem;
    border: 2px solid;
    border-radius: 50px;
  }

}

.portfolio{

  .container-btn{
    padding: 25px;
    
    button{
      // font-size: 15px;
      padding: 0.3rem 1rem;
      margin: 5px;
      border: none;
      border-radius: 50px;
      background-color: #ede9e9;
      transition: all 0.25s;
    }

    button:hover{
      color: #ede9e9;
      background-color: #e43c5c;

    }
    
  }

  .portfolio-container-images{

    div{
      padding: 12px;
      float: left;
      width: 33.3333%;
    }

    img{
      width: 100%;
    }
  }

}

.pricing-container{
  margin: 25px 0;
  // display: flex;
  // justify-content: center;
  // gap: 20px;

  .tier{
    float: left;
    min-width: 33.3333%;
    
    .inner{
      background-color: #f9f9f9;
      height: 100%;
      padding: 50px;
      padding-bottom: 30px;
      margin: 12px;
      >div, h2{
        line-height: 2rem;
      }
    }

    button {
    color: #e43c5c;
    background-color: #fff;

    font-size: 15px;
    padding: 0.5rem 2rem;
    border: solid #e43c5c 2px;
    border-radius: 50px;

    transition: all 0.25s;
    }

    button:hover {
      color: #fff;
      background-color: #e43c5c;
    }
  }

  .recommended{
    position: relative;
    
    .inner{
      border: solid 2px #e43c5c;
      border-radius: 12px;
    }

    .inner div:first-of-type{
      position: absolute;
      // left: 0;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      color: #e43c5c;
      background-color: #fce6ea;
      padding: 0.2rem 1rem;
      border-radius: 50px;
      line-height: 1.7rem;
    }

    button{
      background-color: #e43c5c;
      color: #fce6ea;
    }
  }
}

.faq-ls{
  width: 90%;
  margin: auto;
  text-align: initial;

  li div:hover{
    cursor: pointer;
    color: #e43c5c;
    transition: all 0.25s;
  }
}

.team-container{
  margin-top: 25px;
  display: flex;
  gap: 25px;

  img{
    width: 100%;
    margin-bottom: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .card{
    box-shadow: rgba(0, 0, 0, 0.074) 2px 2px 5px;
    .name{
      color: #303030;
      font-weight: bold;
      word-spacing: 5px;
      font-size: 18px;
    }
    .role{
      color: #5e5e5e;
      font-size: 15px;
    }

    padding-bottom: 25px;
  }
}

.contact{

  iframe{
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
  }

  .contact-container{
    text-align: initial;
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
  }

  .location-info{
    >div{
      div:first-child{
        font-size: 20px;
        font-weight: bolder;
      }
    }
  }

  .email-form{
    flex-grow: 2;
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, 50px) 120px;
    grid-template-areas: 
    "username email"
    "subject subject"
    "msg msg"
    "btn btn";

    >*:not(:last-child){
      padding: 5px;
    }

    input:first-of-type{
      grid-area: username;
    }
    input:nth-of-type(2){
      grid-area: email;
    }

    input:last-of-type{
      grid-area: subject;
    }

    textarea{
      grid-area: msg;
    }

    div{
      grid-area: btn;
      margin: auto;
    }

    button{
      font-size: 15px;
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 50px;
      background-color: #e43c5c;
      color: #fff;
    }
  }

}

footer{
  box-shadow: #dbdbdb 1px 1px 15px;
}

.top-footer,
.bottom-footer{
  margin: auto;
  width: 85%;
}

.top-footer{
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-contact{
  h2{
    margin: 0;
  }

  p{
    color: #777777;
  }

  span{
    font-weight: bold;
  }
}

.footer-links,
.footer-services,
.footer-newsletter{
  h4{
    font-weight: bolder;
  }

  li{
    font-weight: normal;
    line-height: 2rem;
    color: #777777;
  }
}

.footer-newsletter{

  form{
    margin: auto;
    input{
      border-radius: 1.6rem;
    }
    
    input:first-child{
      padding: 0.8rem 6rem;
      border: solid #e43c5c 1px;
      margin-right: -50px;
    }
    input:last-child{
      padding: 0.8rem 1.8rem;
      border: none;
      font-size: 15px;
      background-color: #e43c5c;
      color: #fff;
    }
  }
}

.bottom-footer{
  display: flex;
  flex-direction: column;
  div a{
    color: #e43c5c;
  }
}